 /* ================================= ALCOHOL,TIME,CAOS ================================= */

 .alcohol {
    color: white;
}

.alco {
font-family: tobi;
margin-left: 900px;
}

.alcoholl {
 
 margin-left: 50px;
 color: white;
 font-size: 16px;
 text-align: center;
}

.time {
 color: white;
 font-family: tobi;
 margin-left: 935px;
}

.tiime {
 margin-left: 50px;
 color: white;
 font-size: 16px;
 text-align: center;
}


.caoos {
 color: white;
 font-family: tobi;
 margin-left: 925px;

}

.caos {
 margin-left: 50px;
 color: white;
 font-size: 16px;
 text-align: center;

}